<form action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  Edit Name:

  <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name%>">

  <br></br>

  Edit Title:

  <br></br>

  <% Title.all.each do |title| %>
    <%= title.name %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="<%= title.name %>" <%="checked" if @figure.titles.include?(title) %>>
  <% end %>

  <br></br>

  New Title:

  <input type="text" name="title[name]" id="new_title">

  <br></br>


  Edit Landmark:

  <br></br>

  <% Landmark.all.each do |landmark| %>
    <%= landmark.name %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.name %>" <%="checked" if @figure.landmarks.include?(landmark) %>>
  <% end %>

  <br></br>

  New Landmark:

  <input type="text" name="landmark[name]" id="new_landmark">

  <br></br>

  <input type="submit" value="Edit Figure">

</form>