<form action="/figures" method="POST">
  
  Figure Name:

  <br></br>

  <input type="text" name="figure[name]" id="figure_name">

  <br></br>

  Titles:

  <br></br>

  <% Title.all.each do |title| %>
    <div>
    <%= title.name %>
      <br><input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>">
    </div>
  <% end %>

  <br></br>

  Create New Title:

  <br></br>

  <input type="text" name="title[name]" id="new_title">

  <br></br>

  Landmarks:

  <br></br>

  <% Landmark.all.each do |landmark| %>
    <div>
    <%= landmark.name %>
    <br><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>">
    </div> 
  <% end %>

  <br></br>

  Create New Landmark:

  <br></br>

  <input type="text" name="landmark[name]" id="new_landmark">

  <br></br>


  <input type="submit" value="Create New Figure">

</form>